<form class="w3-card-4" asp-action="GiaiPhuongTrinhBac2">
    <label>He so A:</label>
    <input type="text" name="hesoA">
    <br>
    <label>He so B:</label>
    <input type="text" name="hesoB">
    <br>
    <label>He so C:</label>
    <input type="text" name="hesoC">
    <br>
    <input type="submit" value="Giai phuong trinh">
</form>